@use 'common/reset';

@use 'common/global-styles';
@use 'components/btn';
@use 'components/card';

@use 'layout/header/header';
@use 'layout/banner/banner';
@use 'layout/blog/blog';
@use 'layout/about/about';
@use 'layout/footer/footer';