@use '../../common/variables';
@use '../../common/mixins';

@use 'logo';
@use 'nav';

.header {
    padding-top: 4.5em;
    padding-bottom: 3em;

    color: variables.$grey-text-color;
    font-weight: 700;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mixins.tablet-portrait-styles() {justify-content: center;}
}