@use '../../common/variables';
@use '../../common/mixins';

@use 'logo';
@use 'nav';

.header {
    padding: 50px 0;

    color: variables.$header-text-color;
    font-weight: 700;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mixins.tablet-portrait-styles() {justify-content: center;}
}