@use '../../common/variables';
@use '../../common/mixins';

//TO DO: Fix oleo script?
.header__logo-wrapper {
    display: flex;
    align-items: center;
    gap: 22px;
    @include mixins.mobile-styles() {gap: 12px;}


    .header__logo-name {
        font-family: variables.$secondary-ff;
        color: variables.$white-color;

        font-size: 3.5em;
        font-weight: 400;
        letter-spacing: 0.05em;

        background-color: variables.$logo-color;
        padding: 0.1em 0.2em;
        border-radius: 5px;

        @include mixins.mobile-styles() {padding: 0.05em 0.2em;}

    }

    .header__logo-credit {
        font-weight: 800;
        letter-spacing: 0.025em;
        
    }

    @include mixins.tablet-portrait-styles() {flex-direction: column;}
}
