@use '../../common/variables';
@use '../../common/mixins';


.header__nav {
    .header__nav-list {
        display: flex;
        gap: 10px;
        a {
            padding: 0.5em 1em;
            font-weight: 800;
            border-radius: 8px;
            letter-spacing: 0.025em;
            &:hover {
                background-color: variables.$white-color;
            }
            &:active {
                background-color: variables.$primary-color;
                color: variables.$white-color;
            }
            text-decoration: none;

        }
    }

    @include mixins.tablet-portrait-styles() {display: none;}
        
    }
