@use '../../common/mixins';

.blog {
    margin: 3em 0;
    .blog__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        .blog__col {

        }
        @include mixins.tablet-portrait-styles() {grid-template-columns: 1fr;}
    }
}