@use '../../common/variables';

.about__content {
    .about__title {
        font-size: 2.25em;
        font-weight: 800;

        margin-bottom: 1.1em;
        line-height: 1em;
    }
    .about__text {
        line-height: 2.25em;

        margin-bottom: 2em;
        color: variables.$grey-text-color;
        font-weight: 300;
    }
}