@use '../../common/mixins';

.about__gallery {
    .about__subtitle {
        font-size: 1.35em;
        font-weight: 800;

        line-height: 2.25em;
        margin-bottom: 1em;
    }
    .about__gallery-grid {
        width: 95%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        margin-bottom: 3em;
        @include mixins.tablet-portrait-styles() {width: 100%;}

        .about__gallery-img {
            border-radius: 8px;
            @include mixins.tablet-portrait-styles() {width: 100%; gap: 10px;}
        }
    }
}