@use '../../common/mixins';

.about__gallery {
    padding-right: 2em;
    .about__subtitle {
        font-size: 1.35em;
        font-weight: 800;

        margin-bottom: 1.35em;
    }
    .about__gallery-grid {
        width: 95%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin-bottom: 3em;
        @include mixins.tablet-landscape-styles() {gap: 12px;}
        @include mixins.tablet-portrait-styles() {width: 100%;}

        .about__gallery-img {
            width: 100%;
            border-radius: 8px;
            @include mixins.tablet-portrait-styles() {width: 100%;}
        }
    }
}