@use '../common/variables';
@use '../common/mixins';

.btn {
    text-decoration: none;
    border-radius: 6px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    padding: 1em 1.5em;

}

.btn--primary {
    background-color: variables.$secondary-color;
    font-size: 1.45em;
    color: variables.$white-color;

    gap: 7px;

    @include mixins.tablet-portrait-styles() {width: 100%;}
}

.btn--secondary {
    background-color: variables.$page-bg-color;
}

.btn--large {
    font-size: 2.5em;
    padding: 0.8em 0.9em;

    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;

    @include mixins.tablet-portrait-styles() {flex-direction: row; justify-content: center; gap: 10px}
}