@use '../common/variables';

.card {
    background-color: variables.$white-color;
    border-radius: 6px;

    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.05);

    .card__img {
        width: 100%;
        border-radius: 8px 8px 0 0;
    }

    .card__content {
        padding: 4em 2em 3em 2em;
        .card__title {
            font-size: 1.35em;
            font-weight: 800;
            line-height: 1em;
            margin-bottom: 0.25em;
        }

        .card__subtitle {
            font-size: 1.08em;
            font-weight: 300;

            color: variables.$grey-text-color;
            margin-top: 1em;
            margin-bottom: 2.8em;
        }

        .card__text {
            font-size: 1.08em;
            font-weight: 300;
            line-height: 2.25em;

            color: variables.$grey-text-color;
        }
    }
}