@use '../../common/variables';
@use '../../common/mixins';

.banner {
    // font-size: 0.935em;

    background-color: variables.$white-color;
    padding: 4.5em;

    border-radius: 6px;

    display: grid;
    grid-template-columns: 60% 40%;

    @include mixins.tablet-landscape-styles() {font-size: 0.9rem;}
    @include mixins.tablet-portrait-styles() {grid-template-columns: 1fr; gap: 55px;}
    @include mixins.mobile-styles() {font-size: 0.59375rem; gap: 20px; padding: 4.5em 1.8em;}

    

    .banner__content {
        @include mixins.tablet-portrait-styles() {text-align: center;}

        .banner__title {
            font-size: 4em;
            font-weight: 800;

            margin-top: 0.1em;
            margin-bottom: 0.35em;
            @include mixins.mobile-styles() {margin-bottom: 0.55em;}

        }

        .banner__text {
            font-size: 3.2em;
            font-weight: 400;
            line-height: 1.35em;
            color: rgb(68, 68, 68, 0.7)//variables.$grey-text-color;
        }
    }

    .banner__buttons {
        .btn {
            margin-bottom: 0.5em;
            @include mixins.mobile-styles() {margin-bottom: 1em;}

        }
    }
}