@use '../../common/mixins';
@use '../../common/variables';


.footer__col {
    @include mixins.mobile-styles() {
        padding-bottom: 3em;
        border-bottom: 1px solid variables.$grey-text-color;
    }

    .footer__col-title {
        font-size: 1.35em;
        font-weight: 800;

        line-height: 2.25em;

        margin-bottom: 1em;
    }
    .footer__col-list {
        a {
            font-weight: 300;

            line-height: 2.25em;
        }
    }

    .footer__socials {
        display: flex;
        gap: 8px;
        position: relative;
        left: -2px;

        margin-bottom: 1.5em;
        a {
            background-color: variables.$socials-icon-color;
            width: 45px;
            height: 45px;
            border-radius: 7px;

            display: flex;
            justify-content: center;
            align-items: center;
            i {
                display: block;
                font-size: 1.6em;
                color: white;
                text-align: center;

            }
        }
    }
    p {
        line-height: 2.4375em;
        font-weight: 300;
    }
}