@use '../../common/mixins';
@use '../../common/variables';


.footer__col {
    @include mixins.mobile-styles() {
        padding-bottom: 3em;
        border-bottom: 1px solid variables.$grey-text-color;
    }

    .footer__col-title {
        font-size: 1.35em;
        font-weight: 800;

        line-height: 2.25em;

        margin-bottom: 1em;
    }
    .footer__col-list {
        a {
            font-weight: 300;

            line-height: 2.25em;
        }
    }

    .footer__socials {
        display: flex;

        position: relative;
        left: -2px;

        margin-bottom: 1.5em;
        i {
            display: block;
            font-size: 3em;

            position: relative;
            left: -0.2em;
        
        }
    }
    p {
        line-height: 2.4375em;
        font-weight: 300;
    }
}