@use '../../common/variables';
@use '../../common/mixins';


.footer__copyright-line {
    display: flex;
    justify-content: center;

    color: variables.$grey-text-color;
    font-weight: 300;
    @include mixins.tablet-portrait-styles() {flex-direction: column; align-items: center;}
    @include mixins.mobile-styles() {align-items: flex-start;}

    p {
        padding: 0.8em;
        &:nth-child(2) {
            border-left: 2px solid variables.$footer-border-color;
            border-right: 2px solid variables.$footer-border-color;
            @include mixins.tablet-portrait-styles() {border: none}

        }
    }
}