@use '../../common/mixins';

@use 'column';
@use 'copyright-line';


.footer {
    padding-top: 6em;
    padding-bottom: 8em;
    @include mixins.mobile-styles() {padding-top: 0; padding-bottom: 5em; font-size: 1.1875rem;}
    

    .footer__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        margin-bottom: 4em;
        @include mixins.tablet-portrait-styles() {grid-template-columns: 1fr 1fr; gap: 60px}
        @include mixins.mobile-styles() {grid-template-columns: 1fr; gap: 0; padding-inline: 1.5em; margin-bottom: 0.8em;}
    }
}