@use '../common/variables';
@use 'mixins'

body {
    font-family: variables.$primary-ff;
    background-color: variables.$page-bg-color;
}

.container {
    margin: 0 auto;
    max-width: 1600px;
    @include mixins.desktop-styles {max-width: 1200px;}
    @include mixins.tablet-landscape-styles {max-width: 1000px;}
    @include mixins.tablet-portrait-styles {max-width: 700px;}
    @include mixins.mobile-styles {padding: 0 20px;}


}