@use 'variables';
@use 'mixins';

html {
    @include mixins.desktop-styles() {font-size: 0.875rem;}
    @include mixins.tablet-landscape-styles() {font-size: 0.84375rem;}
    @include mixins.mobile-styles() {font-size: 0.75rem;}
}

body {
    font-family: variables.$primary-ff;
    background-color: variables.$page-bg-color;
    color: variables.$primary-color;
}

a {
    display: inline-block;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    @include mixins.desktop-styles() {max-width: 1200px;};
    @include mixins.tablet-landscape-styles() {max-width: 960px;};
    @include mixins.tablet-portrait-styles() {max-width: 90%;};
    @include mixins.mobile-styles() {max-width: 100%; padding: 0 15px;};


}