//font families
$primary-ff: "Open Sans", sans-serif;
$secondary-ff: "Oleo Script", cursive, sans-serif;


//colors
$primary-color: #444;
$secondary-color: #1691C3;
$page-bg-color: #e4e4e4;
$logo-color: #fc4887;