//font families
$primary-ff: "Open Sans", sans-serif;
$secondary-ff: "Oleo Script", cursive;


//colors
$primary-color: #444;
$secondary-color: #1691C3;
$page-bg-color: #e4e4e4;
$logo-color: #fc4887;
$header-text-color: #696969;
$white-color: #fff;
$black-color: #000;


//breakpoints(desktop large is default)
$desktop-bp: "only screen and (max-width: 1680px)";
$tablet-landscape-bp: "only screen and (max-width: 1280px)";
$tablet-portrait-bp: "only screen and (max-width: 980px)";
$mobile-bp: "only screen and (max-width: 736px)";